@headercolor: #4f9eb2;

.header{
  height:150px;
  background-color: white;
}

.blue-header{
  background-color: #4f9eb2;
  height: 100px;
  width: 100%;
}

.calendars{
  color:white;
}

.calendars *{
  padding-right:10px;
}

.logo{
  top: 0;
  position: relative;
  z-index: 100;
}

.content-padding{
  padding-top: 175px;
}

.content{
  padding-top:25px;
  padding-bottom:20px;
}

.navbar-right.search-form{
  margin-top:-123px;
}

.nav-tabs{
  margin: 50px 0px 0px 90px;
  border: none;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .nav-tabs>li>a:hover {
  border: none;
  background-color: #4f9eb2;
  color: #c6e7ef;
}

.nav-tabs>li.active:after{
  content:'';
  position: absolute;
  top: 115%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top: solid 10px #4f9eb2;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}

.nav-tabs>li>a{
  color: white;
}

footer ul, .menu ul{
  list-style-type: none;
}

footer .custom-bullet li{
  margin-left: -20px;
  padding-bottom: 5px;
}

footer .footer-ul li{
  padding-bottom: 5px;
  margin-left: -40px;
}

ul li{
  cursor: pointer;
}

.menu-item{
  padding:10px;
  margin-left:-40px;
  background-color: #e2f3f7;
  color: #0f97b8;
  border: 1px solid white;
}

.menu-item:hover, .menu-item.selected{
  background-color: #4f9eb2;
  color: white;
  cursor: pointer;
}

footer{
  border-top: 2px solid #4f9eb2;
}

.footer-footer{
  background-color: #4f9eb2;
  color: white;
  padding: 20px 10px;
}

.footer-footer a{
  text-decoration: none;
  color: white;
}

.footer-header{
  background-color: #e2f3f7;
  padding: 30px 30px;
}

#search{
  border-radius:0;
  height: 34px;
  border: none;
  background-color: #3e7b8b;
  margin-left: -4px;
}

.form-control{
  border-radius:0;
}

.languages{
  color: white;
  margin-left: 63%;
}

.blue{
  margin-top: 10px;
  color:#0090b4;
}

.en, .fr{
  padding: 5px;
  vertical-align: middle;
}

.languages .selected, .en:hover, .fr:hover{
  background-color: #3e7b8b;
  color: #7dadba;
  cursor: pointer;
}

.custom-bullet li {
  display: block;
  font-weight: bold;
}

.custom-bullet li:before
{
  /*Using a Bootstrap glyphicon as the bullet point*/
  content: "\e092";
  font-family: 'Glyphicons Halflings';
  font-size: 9px;
  float: left;
  margin-top: 4px;
  margin-left: -17px;
  color: #db3721;
}